@model BaiTapTuan7.Models.tb_Student

@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h2>View</h2>
@using (Html.BeginForm("Details", "Student", FormMethod.Get, new { enctype = "multipart/form-data" }))
{
    <div>
        <h4>tb_Student</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Gmail)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Gmail)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PlaceOfBirth)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PlaceOfBirth)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Images)
            </dt>

            <dt>
                @if (Model.Images != null)
                {
                    var base64 = Convert.ToBase64String(Model.Images);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    <img src='@imgSrc' style="max-width:100px; max-height:100px;" />
                }
            </dt>

        </dl>
    </div>
}
<p>
    @Html.ActionLink("Edit", "EditStudent", new { id = Model.StudentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
