@model PagedList.IPagedList<BaiTapTuan7.Models.tb_Student>
@using PagedList.Mvc
@{
    ViewBag.Title = "StudentList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="table table-hover">
    <h2>StudentList</h2>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>FirstNam</th>
                                    <th>LastName</th>
                                    <th>Gmail</th>
                                    <th>PhoneNumber</th>
                                    <th>DateOfBirth</th>
                                    <th>PlaceOfBirth</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.FirstName</td>
                                        <td>@item.LastName</td>
                                        <td>@item.Gmail</td>
                                        <td>@item.PhoneNumber</td>
                                        <td>@item.DateOfBirth</td>
                                        <td>@item.PlaceOfBirth</td>
                                        <td>
                                            <a href="@Url.Action("EditStudent",new { Id = item.UserId })"> Edit</a>|
                                            @Html.ActionLink("Remove", "RemoveUser", "User", new { Id = item.UserId }, new { onclick = "return confirm('Are you sure to delete this user?');" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                <div class="col-sm-12 col-md-5">
                    <div class="dataTables_paginate">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
