@model BaiTapTuan7.Models.ForgotPasswordModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_ForgotPasswordLayout.cshtml";
}

<div class="container">
    <div id="PlaceHolderHere"></div>
    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2">Welcome, @*@Model.Username*@</h1>
                                    <p class="mb-4">
                                        Here,we let you to reset your password. Fill password box and repeat password box to get reset your password.
                                    </p>
                                </div>
                                @using (Html.BeginForm("ResetPassword", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    @Html.HiddenFor(m => m.UserId)
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control form-control-user", @placeholder = "Enter Password", @type = "password" })

                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.RepeatNewPassword, new { @class = "form-control form-control-user", @placeholder = "Repeat Password", @type = "password" })

                                    </div>
                                    <div id="waiting" style="display: none;">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                                Please Wait...
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-user btn-block" type="submit" id="btnSubmit">
                                        Reset Password
                                    </button>
                                }
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="@Url.Action("Register", "Home")">Create an Account!</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="@Url.Action("Index","Home")">Already have an account? Login!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>