@model BaiTapTuan7.Models.tb_Course

@{
    ViewBag.Title = "DetailsCourse";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("Details", "Course", FormMethod.Get, new { enctype = "mutilpart/form-data" }))
{<div class="container-fluid">
        <div class="card-header">
            <div class="row">
                <div class="col-md-10">
                    <div class="d-sm-flex align-items-center justify-content-between">
                        <h3>@Html.DisplayFor(model => model.Course_Name)</h3>
                    </div>
                    <div class="d-sm-flex">
                        @Html.DisplayFor(m => m.Decription)
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="@Url.Action("EditCourse", "Course", new { couid = Model.Course_Id })">Edit</a>
                            <a class="dropdown-item" href="@Url.Action("DeleteCourse", "Course", new { couid = Model.Course_Id })" onclick = "return confirm('Are you sure to remove this course?');">Delete</a>
                        </div>
                        @*@Html.ActionLink("Remove Course", "DeleteCourse", "Course", new { couid = Model.Course_Id }, new { onclick = "return confirm('Are you sure to remove this course?');", @class = "btn btn-danger" })*@
                    </div>
                </div>
            </div>
            <hr />
        </div>
        <div class="table table-hover">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Teacher</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Teacher Name</th>
                                            <th>Contact</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                @(ViewBag.teacher.TeacherFirstName + " " + ViewBag.teacher.TeacherLastName)
                                            </td>
                                            <td>@ViewBag.teacher.PhoneNumber</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="table table-hover">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <div class="row no-gutters">
                            <div class="col-12 col-sm-6 col-md-8">
                                <h4 class="m-0 font-weight-bold text-primary">Student</h4>
                            </div>
                            <div class="col-6 col-md-4">
                                <button type="button" name="btnLink" id="btnLink" class="btn btn-primary">Enroll Student</button>
                                <a href="@Url.Action("ExportStudentListInCourse", "Course", new { couid = Model.Course_Id})" name="btnLink1" id="btnLink1" class="btn btn-primary">Export Student to Excel</a>

                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Student Id</th>
                                                <th>Student Name</th>
                                                <th>Gmail</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in ViewBag.studentInCourseList)
                                            {
                                                <tr>
                                                    <td>@item.StudentId</td>
                                                    <td>@(item.FirstName + " " + item.LastName)</td>
                                                    <td>@item.Gmail</td>
                                                    <td>
                                                        @Html.ActionLink("Remove", "RemoveStudent", "Course", new { stuid = item.StudentId, couid = Model.Course_Id }, new { onclick = "return confirm('Are you sure to remove this student?');", @class = "btn btn-danger" })
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
}
<div class="modal fade" id="ModalPopUp" role="dialog">
    <div class="modal-dialog modal-body" style="margin-left: 200px; width: 600px; margin-right: 200px;">
        <div class="modal-content" style="width: 1202px">
            <div class="modal-header">
                <button id="DivClose" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="text-align:center;">
                @if (ViewBag.studentList.Count == 0)
                {
                    <h4> No data </h4>
                }
                else
                {
                    <div class="table table-hover">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Student</h6>
                            </div>
                            @using (Html.BeginForm("EnrollStudentToCourse", "Course", FormMethod.Post))
                            {
                                <div class="table-responsive">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                                                @Html.HiddenFor(m => m.Course_Id)
                                                <thead>
                                                    <tr>
                                                        <th>Action</th>
                                                        <th>FirstName</th>
                                                        <th>LastName</th>
                                                        <th>Gmail</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in ViewBag.studentList)
                                                    {
                                                        @*<tr onclick="location.href='@(Url.Action("EnrollStudentToCourse", "Course", new { couid = Model.Course_Id, stuid = item.StudentId }))'">*@
                                                        <tr>
                                                            <td>
                                                                <input type="checkbox" name="StudentId" value="@item.StudentId" class="custom-checkbox" />
                                                            </td>
                                                            <td>@item.FirstName</td>
                                                            <td>@item.LastName</td>
                                                            <td>@item.Gmail</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" value="Enroll" onclick="return confirm('Are you sure to enroll selected student?');" class="btn btn-danger">Enroll </button>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>





