@model PagedList.IPagedList<BaiTapTuan7.Models.tb_Course>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <div class="container-fluid">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Course</h1>
            </div>
            <div class="table table-hover">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <div class="row">
                            <div class="col-md-10">
                                <h5 class="m-0 font-weight-bold text-primary">List Of Course</h5>
                            </div>
                            <div class="col-md-2">
                                <a class="btn btn-primary" href="@Url.Action("CreateCourse","Course")"> Create Course</a>
                            </div>
                        </div>
                        
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Course name</th>
                                                <th>Teacher</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr onclick="location.href='@(Url.Action("Details","Course",new {Id = item.Course_Id }))'">
                                                    <td>@item.Course_Name</td>
                                                    <td>
                                                        @foreach (var i in ViewBag.teacherList)
                                                        {
                                                            if (item.TeacherId == i.TeacherId)
                                                            {
                                                                @(i.TeacherFirstName +' '+ i.TeacherLastName);
                                                            }
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-5">
                                    <div class="dataTables_paginate">
                                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
