@model BaiTapTuan7.Models.tb_Users

@{
    ViewBag.Title = "AccountSetting";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">
        <h2>AccountSetting</h2>
        <div class="row">
            <!-- Column -->
            <div class="col-lg-4 col-xlg-3 col-md-5">
                <div class="card">
                    <div class="card-body">
                        <center class="m-t-30">
                            <div class="col-md-10">
                                @if (ViewBag.student.Images != null)
                                {
                                    var base64 = Convert.ToBase64String(ViewBag.student.Images);
                                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                    <img src='@imgSrc' class="rounded-circle" width="150" onclick="" id='image-display' />
                                    <div class="rounded-circle" width="150" id='image-holder' />
                                }
                                else
                                {
                                    <img src="Assets/xtreme/assets/images/users/5.jpg"
                                         class="rounded-circle" width="150" />
                                }
                            </div>
                            <h4 class="card-title m-t-10">@(ViewBag.student.LastName + " " + ViewBag.student.FirstName)</h4>
                            <h6 class="card-subtitle">Student</h6>
                            @*<div class="row text-center justify-content-md-center">
                                <div class="col-4">
                                    <a href="javascript:void(0)" class="link">
                                        <i class="icon-people"></i>
                                        <font class="font-medium">254</font>
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a href="javascript:void(0)" class="link">
                                        <i class="icon-picture"></i>
                                        <font class="font-medium">54</font>
                                    </a>
                                </div>
                            </div>*@
                        </center>
                    </div>
                    <div>
                        <hr>
                    </div>
                    <div class="card-body">
                        <small class="text-muted">Email address </small>
                        <h6>@(ViewBag.student.Gmail)</h6> <small class="text-muted p-t-30 db">Phone</small>
                        <h6>@(ViewBag.student.PhoneNumber)</h6> <small class="text-muted p-t-30 db">Address</small>
                        <h6>@ViewBag.student.PlaceOfBirth</h6>
                        @*<div class="map-box">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.1604841957!2d72.29955005258641!3d23.019996818380896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat!5e0!3m2!1sen!2sin!4v1493204785508"
                                    width="100%" height="150" frameborder="0" style="border:0"
                                    allowfullscreen></iframe>
                        </div>*@ <small class="text-muted p-t-30 db">Social Profile</small>
                        <br />
                        <button class="btn btn-circle btn-secondary"><i class="fab fa-facebook-f"></i></button>
                        <button class="btn btn-circle btn-secondary"><i class="fab fa-twitter"></i></button>
                        <button class="btn btn-circle btn-secondary"><i class="fab fa-youtube"></i></button>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="col-lg-8 col-xlg-9 col-md-7">
                <div class="card">
                    <div class="card-body">
                        <form class="form-horizontal form-material">
                            <div class="form-group">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(m => m.Id)
                                <label class="col-md-12">Password</label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.Password, new { @type = "password", @class = "form-control form-control-line" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button class="btn btn-success">Update Password</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Column -->
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
