
@model PagedList.IPagedList<BaiTapTuan7.Models.tb_Course>
@using PagedList.Mvc
@{
    ViewBag.Title = "AllOfCourse";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
}


<div class="container-fluid">
    <div class="table table-hover">
        <h2>All Of Course</h2>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Data</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Name Of Course</th>
                                        <th>Description</th>
                                        <th>Details</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        @*<tr onclick="location.href='@Url.Action("Details",new { Id = item.StudentId})'">*@
                                        <tr>
                                            <td>@item.Course_Name</td>
                                            <td>@item.Decription</td>
                                            <td>@item.Details</td>
                                            <td>
                                                @Html.ActionLink("Enroll", "EnrollToCourse", "StuCourse", new { couid = item.Course_Id }, new { onclick = "return confirm('Are you sure to enroll to this course?');", @class = "btn btn-danger" })
                                                @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-l" value="@item.StudentId">Details</button>*@
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_paginate">
                                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>