@model BaiTapTuan7.Models.tb_Assignment
@using BaiTapTuan7.Models
@{
    ViewBag.Title = "AssignmentDetails";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
}


<div class="container-fluid">
    <h4>tb_Assignment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deadline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.File)
        </dt>

        <dd>
            <!--file show để download-->
            @if (Model.File != null)
            {
                <a href="~/@Model.File" download>@Model.File.Substring(11)</a>
            }
            else
            {
                <p>null</p>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayTextFor(model => model.Details)
        </dd>
    </dl>
    @if (Model.Status == 1)
    {
        @Html.ActionLink("Answer", "AnswerAssignment", new { assid = Model.Assignment_Id }, new { @class = "btn btn-primary" })
    }
    <div class="table table-hover">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Student Answer</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>File</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.studentAnswerList)
                                    {
                                    <tr>
                                        @if (item.File != null)
                                        {
                                            <td>@item.File.Substring(11)</td>
                                        }
                                        else
                                        {
                                            <td>null</td>
                                        }
                                        <td>@item.Decriptions</td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>