
@model BaiTapTuan7.Models.tb_Course
@{
    ViewBag.Title = "CourseDetails";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
}


<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="@Url.Action("CourseDetails","StuCourse",new { couid = ViewBag.couid})">Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("CourseAssignment","StuCourse",new { couid = ViewBag.couid})">Assignment</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("MyAssignmentDid","StuCourse")">My Answer</a>
        </li>
    </ul>
    <div class="card-body">
        <h2>@Model.Course_Name</h2>
        <div class="col-12">
            <h3>Teacher: @(ViewBag.Teacher.TeacherFirstName + " " + ViewBag.Teacher.TeacherLastName)</h3>
            <div class="card">
                <div class="card-body">
                    @Html.DisplayFor(m => m.Decription)
                </div>
            </div>
            @foreach (var item in ViewBag.contentList)
            {
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-11">
                                <h3>
                                    @item.Title
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h4>@item.Description</h4>
                        <!--file show để download-->
                        @if (item.File != null)
                        {
                            <a href="~/@item.File" download>@item.File.Substring(11)</a>
                        }
                        else
                        {
                            <a>null</a>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>