@model BaiTapTuan7.Models.tb_Student_Assignment

@{
    ViewBag.Title = "EditAnswerAssignmentDetails";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
}

@using (Html.BeginForm("EditAnswerAssignment", "StuCourse", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Edit Assignment</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.Assignment_Id)
        @Html.HiddenFor(m => m.Student_Id)
        <h3>Answer</h3>
        <!--File-->
        <div class="form-group">
            <!--file show để download-->
            <h4>File hiện tại</h4>
            @if (Model.File != null)
            {
        <div>
            <a href="~/@Model.File" download>@Model.File.Substring(11)</a>
            <a type="button" class="btn btn-primary" href="@Url.Action("DeleteFileInAssignment","StuCourse",new { assid = Model.AS_Id})">Xóa</a>
            <!--Hay-->
            <!--@Html.ActionLink("Bỏ", "DeleteFileInAssignment", new { assid = Model.AS_Id }, new { @class = "btn btn-primary" })-->
        </div>
                <div>
                    <h4>Đổi file: </h4>
                    <input type="file" name="file" />
                </div>
            }
            else
            {
                <p>null</p>
                <div>
                    <h4>Thêm file: </h4>
                    <input type="file" name="file" />
                </div>
            }
        </div>
        <!--Descriptions-->
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Decriptions, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Decriptions, "", new { @class = "text-danger" })
            </div>
        </div>
        <!--submit-->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
