@using System.Data
@using System.Globalization
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Teacher/Views/Shared/_TeacherLayout.cshtml";
}


<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-5">
            <h3 class="page-title">Dashboard</h3>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","TcInfor")">Home</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div id="content">
        <div class="row">
            <div class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h5 class="m-0 font-weight-bold text-primary">News</h5>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <table class="table">
                            @foreach (var item in ViewBag.newsList)
                            {
                                <tr>
                                    <td>
                                        <a href="@Url.Action("NewsDetails","TcInfor",new { newsid = item.News_Id})" class="fa-hacker-news">
                                            @item.Title
                                        </a>
                                        <br />
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="card shadow mb-4">
                    <div class="card-header">
                        <h4> Course Assignment</h4>
                    </div>
                    <div class="card-body">
                        @if (ViewBag.courseAssignmentList != null)
                        {
                            for (int i = 0; i < ViewBag.courseAssignmentList.Count; i++)
                            {
                                if (ViewBag.courseAssignmentList[i].AssignmentList.Count != 0)
                                {
                                    <a class="h4" href="@Url.Action("CourseDetails", "TcCourse", new { couid = ViewBag.courseAssignmentList[i].CourseId })">@ViewBag.courseAssignmentList[i].CourseName</a>
                                    <hr />
                                    foreach (var item in ViewBag.courseAssignmentList[i].AssignmentList)
                                    {
                                        <a class="h-75" href="@Url.Action("AssignmentDetails", "TcAssignment", new { assid = item.Assignment_Id })">
                                            + @item.Details is due
                                        </a>
                                        <br />
                                        <span class="small text">@item.Deadline</span>
                                        <br />
                                    }
                                    <hr />
                                }
                            }
                        }
                        else
                        {
                            <span class="text">No Data</span>
                        }
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="card-header">
                                <div class="d-md-flex align-items-center">
                                    <h4 class="card-title">My Course</h4>
                                </div>
                            </div>
                            <hr />
                            <div class="container-fluid p-0">
                                <div class="card-deck">
                                    <div class="row">
                                        @foreach (var item in ViewBag.myCourseList)
                                        {
                                            <div class="col-md-4">
                                                <div class="card border shadow mb-4 fa-dashboard">
                                                    <a href="@Url.Action("CourseDetails","TcCourse",new { couid = item.Course_Id})">
                                                        <img class="card-img-top" alt="100%x200" src="~/Assets/Admin/img/undraw_environmental_study_skau.svg" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
                                                    </a>
                                                    <div class="card-body">
                                                        <a class="card-title stretched-link" href="@Url.Action("CourseDetails","TcCourse",new { couid = item.Course_Id})">@item.Course_Name</a>
                                                        <p class="card-text">@item.Decription</p>
                                                        <p class="card-text"><small class="text-muted">@item.Details</small></p>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>