@model PagedList.IPagedList<BaiTapTuan7.Models.tb_Student>
@using PagedList.Mvc;

@{
    ViewBag.Title = "CourseDetails";
    Layout = "~/Areas/Teacher/Views/Shared/_TeacherLayout.cshtml";
}

<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-5">
            <h3 class="page-title">My Course</h3>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","TcInfor")">Home</a></li>
                        <li class="breadcrumb-item active" aria-page="current"><a href="@Url.Action("Index","TcCourse")">Course</a></li>
                        <li class="breadcrumb-item active" aria-page="current"><a href="@Url.Action("CourseDetails","TcCourse",new { couid= ViewBag.cou.Course_Id})">@ViewBag.cou.Course_Name</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <h2>@ViewBag.cou.Course_Name</h2>
    <h3>Teacher: @(ViewBag.Teacher.TeacherFirstName + " " + ViewBag.Teacher.TeacherLastName)</h3>
    <div class="card">
        <div class="card-body">
            @ViewBag.cou.Decription
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("CourseDetails","TcCourse",new { couid = ViewBag.cou.Course_Id})">Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("EditCourseDetails","TcCourse")">Edit Course</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="@Url.Action("StudentOnCourse","TcCourse")" aria-selected="false">Student</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","TcAssignment")">Assignment</a>
        </li>
    </ul>
    <div class="card-body">
        <div class="table table-hover">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">List Of Student</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Student Id</th>
                                            <th>Name</th>
                                            <th>Gmail</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.StudentId</td>
                                                <td>@(item.FirstName + " "+ item.LastName)</td>
                                                <td>@item.Gmail</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_paginate">
                                    @Html.PagedListPager(Model, page => Url.Action("StudentOnCourse", new { page }))
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>