@model IEnumerable<BaiTapTuan7.Models.tb_Assignment>

@{
    ViewBag.Title = "CourseDetails";
    Layout = "~/Areas/Teacher/Views/Shared/_TeacherLayout.cshtml";
}

<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-5">
            <h3 class="page-title">My Course</h3>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","TcInfor")">Home</a></li>
                        <li class="breadcrumb-item active" aria-page="current"><a href="@Url.Action("Index","TcCourse")">Course</a></li>
                        <li class="breadcrumb-item active" aria-page="current"><a href="@Url.Action("CourseDetails","TcCourse",new { couid= ViewBag.cou.Course_Id})">@ViewBag.cou.Course_Name</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <h2>@ViewBag.cou.Course_Name</h2>
    <h3>Teacher: @(ViewBag.Teacher.TeacherFirstName + " " + ViewBag.Teacher.TeacherLastName)</h3>
    <div class="card">
        <div class="card-body">
            @ViewBag.cou.Decription
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("CourseDetails","TcCourse",new { couid = ViewBag.cou.Course_Id})">Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("EditCourseDetails","TcCourse")">Edit Course</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("StudentOnCourse","TcCourse")" aria-selected="false">Student</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="@Url.Action("Index","TcAssignment")">Assignment</a>
        </li>
    </ul>
    <div class="card shadow mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-md-10">
                    <h3>Assignment</h3>
                </div>
                <div class="col-md-2">
                    @Html.ActionLink("Create Assignment", "CreateAssignment", new { couid = ViewBag.cou.Course_Id }, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Deadline)
                    </th>
                    <th>
                        <a>Time left</a>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.File)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Details)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        Action
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @if (item.Deadline != null)
                            {
                                @Html.DisplayFor(modelItem => item.Deadline)
                            }
                            else
                            {
                                <a>Unset</a>
                            }
                        </td>
                        <td>
                            @if (item.Deadline == null)
                            {
                                <a>Unset</a>
                            }
                            else if (item.Deadline < DateTime.Now)
                            {
                                <a>Closed</a>
                            }
                            else if (((TimeSpan)(item.Deadline - DateTime.Now)).Days != 0)
                            {
                                <a>@(((TimeSpan)(item.Deadline - DateTime.Now)).Days) days</a>
                            }
                            else
                            {
                                <div id="hms">@(((TimeSpan)(item.Deadline - DateTime.Now)).ToString("t"))</div>
                            }
                        </td>
                        <td>
                            @if (item.File != null)
                            {
                                <a>@item.File.Substring(11)</a>
                            }
                            else
                            {
                                <a>null</a>
                            }
                        </td>
                        <td>
                            @if (item.Details != null)
                            {
                                @Html.DisplayFor(modelItem => item.Details)
                            }
                            else
                            {
                                <a>null</a>
                            }
                        </td>
                        <td>
                            @if (item.Status == 1)
                            {
                                <a>Active</a>
                            }
                            else
                            {
                                <a>Inactive</a>
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Details", "AssignmentDetails", new { assid = item.Assignment_Id }, new { @class = "btn btn-primary" })
                            @if (item.Status == 1)
                            {
                                @Html.ActionLink("Close Assignment", "CloseAssignment", new { assid = item.Assignment_Id }, new { @class = "btn btn-danger" })
                            }
                            @Html.ActionLink("Delete", "DeleteAssignment", new { assid = item.Assignment_Id }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>