@model BaiTapTuan7.Models.Class

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="table table-hover">
    <h2>Class list</h2>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div class="btn btn-primary">
                    Create Class
                </div>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(m => m.ClassId)</th>
                            <th>@Html.DisplayNameFor(m => m.ClassName)</th>
                            <th>@Html.DisplayNameFor(m => m.YearOfClass)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.listClass)
                        {
                            <tr>
                                <td>@item.ClassId</td>
                                <td>@item.ClassName</td>
                                <td>@item.YearOfClass</td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ClassId }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.ClassId }) |
                                    <a onclick="return confirm('Do you want to Delete?')" href="@Url.Action("Delete","Class",new {id= item.ClassId})">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>